.thumbnail{
	padding:20px;
	margin:20px;
	width:25%;
}

body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
	margin: 20px;
}

fieldset {
	background: #ADD8E6;
	border-color: #000080;
	border-style: solid;
	border-width: 3%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 1% 2%;
	margin-bottom: .5%;
}

label{
	font-weight: normal;
}

legend {
	font-weight: bold;
	color: #000080;
}