body {
	background-image: url("../images/circles-light.png");
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid-item {
	border: solid;
	border-color: blue;
	border-width: 5px;
	padding: 5%;
}

.grid-item img {
	margin: 0 auto;
	width: 50%;
	display: block;
}

