header h1 {
  background-color: Yellow;
  text-align: right;
  margin: 0 auto;
}

nav {
  background-color: Green;
  padding: 1em;
}

nav li {
  display: inline;
  background-color: Black;
  padding: 16px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
}

nav a {
  color: White;
  display: inline-block;
}

aside {
  background-color: White;
  position: absolute;
  right: 0.5%;
  height: 56.5%;
}

aside h2 {
  margin: 0 auto;
}

#content {
  background-color: 	rgb(128,128,128);
  display: block;
}

#content h1 {
  margin: 0 auto;
}

#content p {
  margin-right: 20%;
}

#content ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  background-color: Green;
}

p.copyright {
  display: inline-block;
}

body {
  background-color: rgb(192, 192, 192);
}
