html, body {
	background-color: #333;
	height: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

.active-page {
	text-decoration: underline;
}

.lead, .cover-heading {
	color: white;
}

.nav-item {
	color: gray;
}

.transparent {
	background: rgba(52, 58, 64, .75);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-padding {
	padding: 0 0 0 0;
}

.no-margin {
	margin: 0 0 0 0;
}

#home_img {
	width: 100%;
}

#intro_text {
	opacity: 50%;
}