html, body {
	background-color: #333;
	height: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

video {
	height: 50%;
	width: 100%;
}

.active-page {
	text-decoration: underline;
	border: solid;
}

.card {
	border: none;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	text-align: left;
}

.card h1 {
	text-align: center;
}

.card h2 {
	text-decoration: underline;
}

.lead, .cover-heading {
/*	color: rgb(132, 204, 244);*/
	color: white;
}

.nav-item {
	color: gray;
}

.transparent {
	background: rgba(52, 58, 64, .75);
}

.centered-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-padding {
	padding: 0 0 0 0;
}

.no-margin {
	margin: 0 0 0 0;
}

#home_img {
	width: 100%;
}

#intro_text {
	opacity: 50%;
}

#intro_text > h1 {
	margin-top: .5em;
}